{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="sf-toolbar-value">Schedule</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Events</b>
            <span>{{ collector.data|length }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}
